.saves {
    padding: 68px 0;
    background: #F6F6F6;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 28px; 
    }
    &__title {
        position: relative;
        .heart {
            display: inline-block;
            vertical-align: top;
            width: 22px;
            font-size: 0;
            line-height: 22px;
            margin-left: 27px;
        }
    }
}